$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 800px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-top-color: rgba(0, 0, 0, 0.5);
        animation: spin 1s infinite linear;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}

.container {

    height: 100%;
    width: 100%;

    .top {

        img {
            width: 100%;
            height: 50%;
            border-radius: 10px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        @media #{$media-tablet} {
            align-items: start;
            justify-content: start;
        }

        div {
            display: grid;
            /*Using the full width/height of the designated box elements, use fr as in example below */
            grid-gap: 10px;
            grid-template-columns: 1fr 1fr;

            padding-bottom: 2rem;
            place-items: center;

            @media #{$media-tablet} {
                grid-template-columns: 1fr;
                place-items: start;

            }


            label {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: auto;


                input {
                    padding: 10px;
                    margin: 0 2rem;
                    border-radius: 10px;
                    border: 1px solid grey;
                }
            }
        }



        .buttons {
            display: flex;
            justify-content: center;
            gap: 10px;

            .submit {
                background-color: #5a89ff;
                color: white;
                border: none;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
            }

            .discard {
                background-color: #ff4949;
                color: white;
                border: none;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
            }
        }

    }

    .details {
        padding-left: 2rem;
        border: thin solid rgb(228, 227, 227);
        border-radius: 10px;
        margin: 1rem;
        position: relative;

        .editButton {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px;
            font-size: 12px;
            color: #7451f8;
            background-color: #7551f818;
            cursor: pointer;
            border: none;
        }

        h1 {
            span {
                color: #ff5a5f;
                font-size: medium;
                margin: 0.51rem;
            }
        }

        p {
            font-size: large;
            margin: 0.51rem 0;
        }
    }

    hr {
        margin: auto;
        width: 70%;
    }

    // .room {
    //     padding:2rem;
    //     margin: 2rem;
    //     border: 0.1rem solid grey;
    //     border-radius: 10px;
    // }
}