.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-top-color: rgba(0, 0, 0, 0.5);
        animation: spin 1s infinite linear;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}

.container {

    height: 100%;
    width: 100%;

    .top {

        img {
            width: 100%;
            height: 50%;
            border-radius: 10px;
        }
    }

    .details {
        padding-left: 2rem;

        h1 {
            span {
                color: #ff5a5f;
                font-size: medium;
                margin: 0.51rem;
            }
        }

        p {
            font-size: large;
            margin: 0.51rem 0;
        }
    }

    hr {
        margin: auto;
        width: 70%;
    }

    // .room {
    //     padding:2rem;
    //     margin: 2rem;
    //     border: 0.1rem solid grey;
    //     border-radius: 10px;
    // }
}