.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-top-color: rgba(0, 0, 0, 0.5);
        animation: spin 1s infinite linear;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}

.container {
    .roomdetails {
        border: thin solid rgb(228, 227, 227);
        border-radius: 10px;
        margin: 1rem;

        .top {
            display: flex;
            flex-direction: column;
            margin:1rem 2rem;
            gap: 20px;

            p {
                font-weight: 600;
            }
        }

        .bottom {
            box-shadow: none;

            h3 {
                margin:1rem 2rem;

            }

            .roomList {
                margin: 2rem;
                border-radius: 15px;
                box-shadow: rgba(124, 40, 40, 0.1) 0px 10px 50px;
                padding: 2rem;

                p {
                    font-size: medium;
                    font-weight: bolder;
                }

                div {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 1rem;

                    // justify-content: space-evenly;
                    p {
                        font-size: medium;
                        font-weight: bold;
                        margin-right: auto;
                    }
                }
            }
        }

        .action {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                background-color: #fb656a;
                border: none;
                margin: 1rem;
                padding: 0.61rem;
                border-radius: 5px;
                font-size: medium;
                font-weight: lighter;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                cursor: pointer;
            }
        }

    }
}