.userDetails {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  width: 300px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

p {
  font-size: 1rem;
  font-weight: 650;
}

span {
  font-size: 1rem;
  margin-left: 0.6rem;
  font-weight: 600;
}

.bookings {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.booking {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;
  border-radius: 20px;
  background-color: #f5f5f5;
  width: 80%;
}

.bookingList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.update-button {
  background-color: #f5f5f5;
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.modal {
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: fit-content;
  padding: 0;
}
.container {
  z-index: 0;
}
.modalcontainer {
  position: relative;
}
