.booking-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 1rem;


    h3 {
        color: rgb(206, 203, 203);
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .bookings {
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(86, 50, 50, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(159, 158, 158, 0.47);
        padding: 1rem;
        border-radius: 10px;

        h4 {
            display: flex;
            flex-direction: row;
            margin: 10px 0;

            span {
                margin-top: auto;
                margin-left: 0.51rem;
                font-size: small;
                color: rgb(225, 4, 4);
            }
        }

        p {
            font-size: 15px;
            font-weight: bolder;
            margin-bottom: 10px;
            color: rgb(74, 73, 73);


            span {
                font-size: medium;

                color: rgb(48, 47, 47);
                margin-right: 10px;
            }
        }
    }
}